<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <string>rubrique;categorie;type;objectif;color</string>
        </array>
        <array>
            <string>Alimentation;Alimentation;0;100;red</string>
        </array>
        <array>
            <string>Alimentation;Autres;0;100;red</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Animaux;Soins;0;20;blue</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Assurances;Maison;0;20;red</string>
        </array>
        <array>
            <string>Assurances;Scolaire;0;10;red</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Banque;Crédits;0;0;brown</string>
        </array>
        <array>
            <string>Banque;Epargne;0;0;brown</string>
        </array>
        <array>
            <string>Banque;Intérêts;0;0;brown</string>
        </array>
        <array>
            <string>Banque;Autres;0;0;brown</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Divers;Accessoires;0;0;gray</string>
        </array>
        <array>
            <string>Divers;Chaussures;0;0;gray</string>
        </array>
        <array>
            <string>Divers;Coiffeur;0;0;gray</string>
        </array>
        <array>
            <string>Divers;Divers;0;0;gray</string>
        </array>
        <array>
            <string>Divers;Dons;0;0;gray</string>
        </array>
        <array>
            <string>Divers;Esthétique;0;0;gray</string>
        </array>
        <array>
            <string>Divers;Transports;0;45;gray</string>
        </array>
        <array>
            <string>Divers;Vêtements;0;50;gray</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Impots;Impôt foncier;0;120;green</string>
        </array>
        <array>
            <string>Impots;Impôt revenus;0;110;green</string>
        </array>
        <array>
            <string>Impots;Autres;0;0;green</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Loisirs;Cadeau;0;0;orange</string>
        </array>
        <array>
            <string>Loisirs;Divertissement;0;0;orange</string>
        </array>
        <array>
            <string>Loisirs;Livres;0;0;orange</string>
        </array>
        <array>
            <string>Loisirs;Musique;0;10;orange</string>
        </array>
        <array>
            <string>Loisirs;Restaurants;0;20;orange</string>
        </array>
        <array>
            <string>Loisirs;Spectacles;0;0;orange</string>
        </array>
        <array>
            <string>Loisirs;Sports;0;30;orange</string>
        </array>
        <array>
            <string>Loisirs;Vacances;0;100;orange</string>
        </array>
        <array>
            <string>Loisirs;Autres;0;0;orange</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Maison;Bricolage;0;0;darkGray</string>
        </array>
        <array>
            <string>Maison;Eau;0;50;darkGray</string>
        </array>
        <array>
            <string>Maison;Electricité;0;120;darkGray</string>
        </array>
        <array>
            <string>Maison;Espèces;0;0;darkGray</string>
        </array>
        <array>
            <string>Maison;Gaz;0;0;darkGray</string>
        </array>
        <array>
            <string>Maison;Internet;0;45;darkGray</string>
        </array>
        <array>
            <string>Maison;Loyer;0;500;darkGray</string>
        </array>
        <array>
            <string>Maison;Téléphone;0;25;darkGray</string>
        </array>
        <array>
            <string>Maison;Autres;0;25;darkGray</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Revenus;Salaire;0;3000;purple</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Santé;Dentiste;0;0;green</string>
        </array>
        <array>
            <string>Santé;Docteur;0;0;green</string>
        </array>
        <array>
            <string>Santé;Lunettes;0;0;green</string>
        </array>
        <array>
            <string>Santé;Pharmacie;0;0;green</string>
        </array>
        <array>
            <string>Santé;CPAM Mutuelle;0;0;green</string>
        </array>
        <array>
            <string>Santé;Autres;0;0;green</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string>Voiture;Carburant;0;50.0;green</string>
        </array>
        <array>
            <string>Voiture;Entretien;0;0;green</string>
        </array>
        <array>
            <string>Voiture;Parking;0;0;green</string>
        </array>
        <array>
            <string>Voiture;Péage;0;0;green</string>
        </array>
        <array>
            <string>Voiture;Achat véhicule;0;180.;green</string>
        </array>
        <array>
            <string>Voiture;Autres;0;180.;green</string>
        </array>
        <array>
            <string></string>
        </array>
        <array>
            <string></string>
        </array>
    </array>
</plist>
